table {
	border-spacing: 10px 10px !important;
	width: 60%;
	border-radius: 30px;
	/* background-color:lightgrey; */
	background-color: rgb(238, 229, 229);
	font-weight:400;
	margin-bottom: 100px;
}

.mat-table .mat-header-cell{
	font-weight: bold;
}

/*To remove the last border*/
table tr:last-child td
{
  border-bottom:0 solid
}

.USER-OPERATIONS{
	margin: 10px;
}

.search{
	margin-right: 37%;
  }

.user-buttons-spacing{
	margin-left: 100px;
}

.userTopButtons{
	margin-right: 100px;
	background-color: rosybrown;
    color: white;
}

.userTopButtons:hover{
	background-color: green;
}

.more-button{
	background-color: darkgoldenrod;
}

.user-operation-buttons:hover{
	background-color: khaki;
}

.more-button:hover{
	background-color: paleturquoise;
}

.user-operation-buttons{
	width: fit-content!important;
	height: fit-content!important;
}

button{
	margin: 5px;
}

.mat-table .enabled{
	background-color: green;
}

.mat-table .disabled{
	background-color: red;
}

.mat-table .statuses{
	margin-right: 10px;
}

.header{
	display: flex;
}

.header .id{
	flex: 1 1 50px;
}

.header .username{
	flex: 1 1 25%;
}

.header .firstname{
	flex: 1 1 25%;
}

.header .middlename{
	flex: 1 1 25%;
}

.header .lastname{
	flex: 1 1 25%;
}

.user{
	display: flex;
}

.user:last-of-type {
	border-bottom: 0;
}

.user .id {
	flex: 1 1 100px;
}

.user .username {
	flex: 1 1 25%;
}

.user .firstname {
	flex: 1 1 25%;
}

.user .middlename {
	flex: 1 1 25%;
}

.user .lastname {
	flex: 1 1 25%;
}

.more-button mat-icon{
	color: white;
}

.users-title{
	color:lightseagreen;
	display: flex;
  	justify-content: center;
	font-size: 20;
}

.user-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}

.user-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.mat-table {
    overflow-x: scroll;
    max-width: 99%;
  }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }