<!-- <p>user-more-details works!</p> -->

<div fxLayout="row" class="user-details">
    <div fxLayout="column">
        <p>Addresses: </p>
    <ng-container *ngFor="let address of addresses; let i = index" >
        <p><span>Address {{i + 1}}: {{addresses[i].addressValue}}</span></p>
    </ng-container>
    <p *ngIf="addresses.length == 0" ><span>No addresses</span></p>
    </div>
    
    <mat-divider vertical></mat-divider>

    <div fxLayout="column">
        <p>Contacts: </p>
    <ng-container *ngFor="let contact of contacts; let i = index; let length = count" >
        <p *ngIf="length != 0" ><span>Contact {{i + 1}}: {{contacts[i].contactValue}}</span></p>
    </ng-container>
    <p *ngIf="contacts.length == 0" ><span>No contacts</span></p>
    </div>
</div>
