<div fxLayoutAlign="center center" class="main-div">
    <mat-card fxFlex="20">
        <mat-toolbar class="test-theme">
            Profiler Sign In
        </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <p><span style="color: rosybrown; font-weight: 500; font-size: 20px;">Please sign in</span></p>
            <mat-form-field >
              <input matInput placeholder="Enter your username" formControlName="username">
            </mat-form-field>
          
            <mat-form-field >
                <input matInput type="password" placeholder="Enter your password" formControlName="password">
              </mat-form-field>
              <button mat-raised-button type="submit" class="test-theme">Login</button>
          </form>
          
    </mat-card>
</div>