.service-card {
  /* max-width: 350px; */
  /* max-width: fit-content; */
  background-color: rosybrown;
  color: white;
  /* background-color: rgb(240, 198, 198);
  color: black; */
}

.service-card .enabled{
  background-color: green;
  color: white;
}

.service-card .disabled{
  background-color: red;
  color: white;
}

.mat-card-actions{
  margin-top: 100px;
}

.mat-grid-tile{
  margin: 10px;
}

.subtitle{
  color: white;
}

.edit{
  background-color: rgb(53, 53, 139);
  color: white;
}

.subscribe{
  background-color: rgb(143, 42, 143);
  color: white;
}

.delete{
  background-color: rgb(192, 13, 13);
  color: white;
}
  
.service-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-image: url('/assets/images/tinka-networks-home.gif');
  background-size: cover;
}

.service-top-buttons{
  margin-bottom: 50px;
}

.add-service-button{
  background-color: rosybrown;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 300px, 300px;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  width: 70%;
  min-width: fit-content;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}