<!-- <div style="text-align: center;">
    <h1>
        Tinka Profiler System
    </h1>
</div> -->

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Tinka Profiler System</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="backToLogin()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
    <p></p>
  

<router-outlet></router-outlet>