<!-- <h1 mat-dialog-title> User selected is {{user.username}}</h1> -->
<div mat-dialog-content fxLayoutAlign="center center" fxLayout="column">
  <h1>Update <span class="username">{{user.username}}'s</span> details?</h1>
  <div>
    <mat-form-field>
        <mat-label>Enter new username:</mat-label>
        <input matInput [(ngModel)]="updateUser.userName">
      </mat-form-field>
  </div>
  <div>
    <mat-button-toggle class="enabled" *ngIf="enabled == 'Enabled'" (change)="onToggle()">{{enabled}}</mat-button-toggle>
    <mat-button-toggle class="disabled" *ngIf="enabled == 'Disabled'" (change)="onToggle()">{{enabled}}</mat-button-toggle>
  </div>
</div>
<div mat-dialog-actions fxLayoutAlign="end none">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="updateUser" (click)="callUpdate(updateUser)" cdkFocusInitial>Yes</button>
</div>